@import 'base/typo';
@import 'utilities/variables';
@import 'layout/navbar';
@import 'views/home';
@import 'layout/forms';
@import 'components/carousel';
@import 'components/buttons';
@import 'components/owl-carousel';
@import 'layout/footer';
@import 'views/reading';
@import 'views/post';
@import 'views/contact';
@import 'utilities/mediaqueries';
//No estoy seguro de donde poner estos modificadores

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left{
  text-align: left;
}

.right {
  text-align: right;
}

.pat-3 {
  padding-top: 30px;
}

.pab-3 {
  padding-bottom: 30px;
}

.pat-5 {
  padding-top: 50px;
}

.pab-5 {
  padding-bottom: 50px;
}

.mat-2 {
  margin-top: 20px;
}

.mat-5 {
  margin-top: 50px;
}

.mab-5 {
  margin-bottom: 50px;
}

.mar-5 {
  margin-right: 20px;
}

.pink{
  transition: all 500ms;

  &:hover{
    color: $primary-color;
    transform: scale(1.3,1.3)
  }
}

hr {
  width: 85%;
  border-color: black;
}

