@import '../components/buttons';

@media (min-width: 320px) and (max-width: 369px){
  #presentation{
    .button{
      width: 110px;
    }
  }

  #explore{
    .button{
      width: 110px;
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
   .navbar{
     background-attachment: fixed;
      .navbar-nav:last-child{
        display: flex;
        flex-direction: row;
      }
   } 
  
    #presentation {
      height: 100vh;
      background-image: none;
      padding-bottom: 50px;
    
      .presentation__wrap{
        padding: 20px;
      }
      .presentation__title {
        font-size: 35px;
      }
      .presentation__subtitle {
        font-size: 25px;
      }
      .button{
        width: 100px;
        height: 50px;
        margin-right: 10px;
        font-size: 11px;
        background-color: $primary-color;
      }
    }
  
    .button{
      width: 120px;
    }
  
  
    .secondary-button{
      background-color: $primary-color;
      color: $secondary-color;
      font-size: 12px;
    }

    #explore{
      .explore__title{
        font-size: 15px;
      }
      .button{
        margin-left: 20px;
        font-size: 12px;
        transition: all 500ms;
        border: 1px solid #ccc;
        box-shadow: 3px 3px 3px black;
      }
    }

    #goals{
      .goals__wrap{
        padding-bottom: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
      .goals__subtitle{
        display: none;
      }
    }


    #writings{
      .writings__wrap{
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .writings__card{
        width: 280px;
      }

      .writings__card .writings__image {
        border-radius: 7%;
        min-height: 100px;
        max-height: 200px;
        min-width: 100px;
        max-width: 200px;
      }
    }

  
    .carousel .carousel-inner .carousel-item {
      height: 300px;
    }

    .tertiary-button {
      margin-left: 0px;
      width: 150px;
    }

    #footer{
      .footer__post{
        .button{
          margin-top: 0px;
          margin-bottom: 30px;
        } 
      }
  
      .footer__title{
        font-size: 35px;
      }
    
      .footer__subtitle{
        font-size: 20px;
      }

      .footer__container {
        font-size: 11px;
      }
    }

   
  }

@media (min-width: 768px) and (max-width: 1023px) {
    #presentation {
      height: 70vh; 
      background-image: url(./img/Huellas-inicio.jpg);
      background-repeat: no-repeat;
      background-position: right;
      background-color: $tertiary-color;

    
  
      .presentation-button {
        margin-right: 10px;
        background-color: $primary-color;
      }
    }
    

  
    .secondary-button{
      background-color: $primary-color;
      color: $secondary-color;
    }
  
    #goals{
      .goals__subtitle {
        font-size: $paragraph-font-size;
      }
    }

    #explore{
      .explore__title{
        font-size: 20px;
      }
      .goals__subtitle{
        padding-bottom: 50px;
      }
    }
  
  
  
    $title-font-size: 40px;
  
    .buttonContainer {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .tertiary-button {
      background-color: $primary-color;
      margin-left: 20px;
    }
  

    .cards{
      width: 200px;
      .card__content{
        h2{
          font-size: 25px;
        }
        p{
          font-size: 13px;
        }
      }
    }
  
    #footer{
      .footer__container {
        font-size: 12px;
      }
  
      .footer__post .button {
        margin-bottom: 30px;
      }
    }

  }
  
  @media (min-width: 1024px) and (max-width: 1299px) {
    #presentation{
      .presentation__title {
        font-size: 40px;
      }
    }
  }
  
