.navbar {
    background-color: $tertiary-color;
    box-shadow: 2px 2px 5px 2px #000000;
  }
  
.navbar .active { 
  color: $primary-color !important;
}

.navbar .navbar-nav .nav-item .nav-link {
  color: $secondary-color;
  font-weight: $font-bold;
  margin: 0px 15px 0px 15px;
  transition: all 500ms;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  color: $primary-color;
}



