//Buttons

.button {
  width: 140px;
  height: 50px;
  margin: 30px 0px 0px 0px;
  background-color: transparent;
  color: $secondary-color;
  border-color: $secondary-color;
  border-radius: 7%;
  cursor: pointer;
  transition: all 500ms;

    &:hover {
        transform: scale(1.2, 1.2);
        background-color: $primary-color;
    }
}

.secondary-button {
  color: $tertiary-color;
  border-color: $tertiary-color;

    &:hover{
        color: $secondary-color;
        background-color: $primary-color;
    }
}

.tertiary-button {
  margin-left: 40px;
  font-size: 15px;
  transition: all 500ms;
}

.presentation-button,
.button-explore {
  margin-right: 30px;
}

.footer-button {
  margin: 20px 0px 20px 0px;
}
