#about{
    padding-top: 20px;
    font-family: $secondary-text;
    background-color: $tertiary-color;
    height: 300px;

    .about__title,.about__subtitle{
        text-align: center;
    }

    .about__title{
        margin-top: 40px;
        font-family: $secondary-text;
        font-weight: $font-bold;
        color: $primary-color;
        letter-spacing: 3px;
    }

    .about__subtitle{
        margin-top: 20px;
        color: $secondary-color;
        font-size: 20px;
    }

    .about__author{
        color: $secondary-color
    }
}



#mission{
    
    font-family: $secondary-text;
    background-color: antiquewhite;
    padding-top: 50px;
    padding-bottom: 60px;
    
    .mission__wrap{
        color: $secondary-color;
        padding: 50px;
        box-shadow: 3px 3px 3px 5px #ccc;
        border-radius: 3%;
        background-image: url(./img/thinker.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-color: rgba(0,0,0,0.6);
    }
    .mission__title{
        font-family: $primary-text;
        font-size: $sec-title-font-size;
        letter-spacing: 2px;
        color: $primary-color;
        margin-top: 30px;
        margin-bottom: 20px;

    }
    .mission__cardWrap{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:30px;
        .mission__card{
            margin: 0px 30px 30px 30px;
            
            .mission__number{
                font-weight: $font-bold;
                margin-right: 20px;
                font-size: 100px;
            }
            .mission__description{
                .mission__name{
                    padding-top: 30px;
                    font-weight: $font-bold;
                    font-size: 20px;
                }
                .mission__text{
                    font-size: 15px;
                }
            }
        }
    }
}