#text{
    font-family: $secondary-text;
    padding-top: 50px;

    .text__wrap{
        padding: 50px;
        background-color: antiquewhite;
        box-shadow: 3px 3px 3px 5px #ccc;
        
        .text__title{
            font-weight: $font-bold;
        }

        .text__wrapImage{
            display: flex;
            justify-content: center;
            align-items: center;

            .text__image{
                min-height: 200px;
                max-height: 300px;
                margin-bottom: 20px;
            }
        }

        .text__interactions{
            display:flex;
            justify-content: center;
            align-items: center;
            padding: 20px;

            .text__views{
                padding: 0px 20px 0px 0px; 
            }
            .text__likes{
                padding: 0px 20px 0px 0px;
            }
        }

        .text__wrapContent{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            .text__content{
                padding-top: 30px;
                text-align: center;
                width: 60%;
            }
        }

        .text__wrapActions{
            .button{
                margin: 20px;
                
                font-size: 13px;
            }

            .like{
                background-color: $primary-color;
            }

            .share{
                background-color: #3b5998;
            }
        }

        .text__wrapComments{
            padding: 50px;
            background-color: #e7e7e7;
            border-radius: 2%;

            .form-floating{
                border-bottom: 1px solid #ccc;
                padding-bottom: 30px;

                .button{
                    background-color: $primary-color;
                }
            }

            .text__commentary{
                display: flex;
                font-size: $paragraph-font-size;
                border-bottom: 1px solid #ccc;
                margin-bottom: 10px;

                .text__commentaryAuthor{
                    font-weight: $font-bold;
                }

                .text__commentaryImage{
                    min-height: 30px;
                    max-height: 60px;
                    margin-right: 10px;
                    border-radius: 50%;
                }
            }
        }
    }
}